You have to work on the files:
*  [Books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Books.csv.gz)
*  [Book ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Book-Ratings.csv.gz)
*  [Users](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/Users.csv.gz)
*  [Goodbooks books](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks.csv.gz)
*  [Goodbooks ratings](https://github.com/gdv/foundationsCS/raw/master/progetti/2021/goodbooks-ratings.csv.gz)

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    To read those files, you need to use the `encoding = 'latin-1'` option.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com), otherwise no  answer will be given.

### Import

In [1]:
import numpy as np
import re
from collections import Counter

import os
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import math 
plt.style.use('ggplot')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%matplotlib inline

In [4]:
def create_database(path, fmt='.csv'):
    fnames = [file for file in os.listdir(path) if file.endswith(fmt)]
    db = {}
    
    for file in fnames:
        table = file.split('.')[0]
        
        try:
            db[table] = pd.read_csv(path + '/' + file, encoding='latin-1')
        except:
            db[table] = pd.read_csv(path + '/' + file, lineterminator='\r', encoding='latin-1', error_bad_lines=False, delimiter=';')
        
    return db

In [5]:
database = create_database('/content/drive/MyDrive/FOCS/Datasets')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [6]:
database.keys()

dict_keys(['Books', 'Book-Ratings', 'Users', 'goodbooks', 'goodbooks-ratings'])

### 1. Normalize the location field of *Users* dataset, splitting into city, region, country.
* OK

In [26]:
users = database['Users']

In [27]:
users

           User-ID  ...          Country
0            \n"1"  ...              usa
1            \n"2"  ...              usa
2            \n"3"  ...           russia
3            \n"4"  ...         portugal
4            \n"5"  ...   united kingdom
...            ...  ...              ...
278854  \n"278855"  ...   united kingdom
278855  \n"278856"  ...           canada
278856  \n"278857"  ...              usa
278857  \n"278858"  ...          ireland
278858          \n  ...              NaN

[278859 rows x 6 columns]

In [28]:
users['City'] = users.Location.str.split(',', expand=True)[0]
users['Region'] = users.Location.str.split(',', expand=True)[1]
users['Country'] = users.Location.str.split(',', expand=True)[2]

In [29]:
users = users.replace('\n','', regex=True)

In [30]:
users = users.replace('"','', regex=True)

In [31]:
users

       User-ID  ...          Country
0            1  ...              usa
1            2  ...              usa
2            3  ...           russia
3            4  ...         portugal
4            5  ...   united kingdom
...        ...  ...              ...
278854  278855  ...   united kingdom
278855  278856  ...           canada
278856  278857  ...              usa
278857  278858  ...          ireland
278858          ...              NaN

[278859 rows x 6 columns]

### 2. For each book in the *Books* dataset, compute its average rating.
* OK

In [48]:
books = database['Books']

In [49]:
books = books.replace('"','', regex=True)

In [50]:
books = books.replace('\n','', regex=True)

In [51]:
book_ratings = database['Book-Ratings']

In [52]:
book_ratings

            User-ID         ISBN  Book-Rating
0        \n"276725"   034545104X          0.0
1        \n"276726"   0155061224          5.0
2        \n"276727"   0446520802          0.0
3        \n"276729"   052165615X          3.0
4        \n"276729"   0521795028          6.0
...             ...          ...          ...
1149776  \n"276706"   0679447156          0.0
1149777  \n"276709"   0515107662         10.0
1149778  \n"276721"   0590442449         10.0
1149779  \n"276723"  05162443314          8.0
1149780          \n          NaN          NaN

[1149781 rows x 3 columns]

In [53]:
book_ratings_avg = book_ratings.groupby('ISBN', as_index=False).agg({'Book-Rating':'mean'})

In [54]:
book_ratings_avg

                ISBN  Book-Rating
0         0330299891          3.0
1         0375404120          1.5
2         0586045007          0.0
3         9022906116          3.5
4         9032803328          0.0
...              ...          ...
340551      cn113107          0.0
340552    ooo7156103          7.0
340553   Ã‚Â§423350229          0.0
340554  Ã‚Â´3499128624          8.0
340555   ÃƒÂ”Ã‚Â½crosoft          7.0

[340556 rows x 2 columns]

In [55]:
books_w_ratings = books.join(book_ratings_avg.set_index('ISBN'), on='ISBN')

In [56]:
books_w_ratings

              ISBN  ... Book-Rating
0       0195153448  ...    0.000000
1       0002005018  ...    4.928571
2       0060973129  ...    5.000000
3       0374157065  ...    4.272727
4       0393045218  ...    0.000000
...            ...  ...         ...
271355  0525447644  ...    4.000000
271356  006008667X  ...    0.000000
271357  0192126040  ...    0.000000
271358  0767409752  ...    0.000000
271359              ...         NaN

[271360 rows x 9 columns]

### 3. For each book in the *GoodBooks* dataset, compute its average rating.
* OK

In [57]:
goodbooks = database['goodbooks']

In [58]:
goodbook_ratings = database['goodbooks-ratings']

In [59]:
goodbook_ratings

    user_id  book_id  rating
0         1      258       5
1         2     4081       4
2         2      260       5
3         2     9296       5
4         2     2318       3
..      ...      ...     ...
94        4      184       4
95        4      495       4
96        4      350       3
97        4      492       4
98        4      219       4

[99 rows x 3 columns]

In [60]:
goodbooks.head()

   book_id  ...                                    small_image_url
0        1  ...  https://images.gr-assets.com/books/1447303603s...
1        2  ...  https://images.gr-assets.com/books/1474154022s...
2        3  ...  https://images.gr-assets.com/books/1361039443s...
3        4  ...  https://images.gr-assets.com/books/1361975680s...
4        5  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [61]:
goodbooks_ids=[]
for index, row in goodbooks.iterrows():
  goodbooks_ids.append(row.book_id)

In [62]:
matchescount=0
for index, row in goodbook_ratings.iterrows():
  if row.book_id in goodbooks_ids:
    matchescount+=1
print('len: '+str(len(goodbook_ratings)))
print('matches: '+str(matchescount))

len: 99
matches: 30

The information 'book_id' contained in the 'goodbooks_ratings' dataset is not referring to the 'book_id' column of the 'goodbooks' dataset, as it's proven in the previous code cell (we only have 30 matches between the two lists). I also checked the "goodreads_book_id" and the "best_book_id" but both had less than 10 matches with the ratings id.

If the two attributes would have been linked, the task should have been accomplished like this:

In [63]:
#for each line in goodbooks ratings if rating 1 (ratings_1 of book_id) +1
for index, row in goodbook_ratings.iterrows():
  if row['rating']==1:
    goodbooks.loc[goodbooks['book_id'] == row['book_id'], 'ratings_1'] += 1
  if row['rating']==2:
    goodbooks.loc[goodbooks['book_id'] == row['book_id'], 'ratings_2'] += 1
  if row['rating']==3:
    goodbooks.loc[goodbooks['book_id'] == row['book_id'], 'ratings_3'] += 1
  if row['rating']==4:
    goodbooks.loc[goodbooks['book_id'] == row['book_id'], 'ratings_4'] += 1
  if row['rating']==5:
    goodbooks.loc[goodbooks['book_id'] == row['book_id'], 'ratings_5'] += 1
  print(index, row)

0 user_id      1
book_id    258
rating       5
Name: 0, dtype: int64
1 user_id       2
book_id    4081
rating        4
Name: 1, dtype: int64
2 user_id      2
book_id    260
rating       5
Name: 2, dtype: int64
3 user_id       2
book_id    9296
rating        5
Name: 3, dtype: int64
4 user_id       2
book_id    2318
rating        3
Name: 4, dtype: int64
5 user_id     2
book_id    26
rating      4
Name: 5, dtype: int64
6 user_id      2
book_id    315
rating       3
Name: 6, dtype: int64
7 user_id     2
book_id    33
rating      4
Name: 7, dtype: int64
8 user_id      2
book_id    301
rating       5
Name: 8, dtype: int64
9 user_id       2
book_id    2686
rating        5
Name: 9, dtype: int64
10 user_id       2
book_id    3753
rating        5
Name: 10, dtype: int64
11 user_id       2
book_id    8519
rating        5
Name: 11, dtype: int64
12 user_id     4
book_id    70
rating      4
Name: 12, dtype: int64
13 user_id      4
book_id    264
rating       3
Name: 13, dtype: int64
14 user_id      4
book_id    388
rating       4
Name: 14, dtype: int64
15 user_id     4
book_id    18
rating      5
Name: 15, dtype: int64
16 user_id     4
book_id    27
rating      5
Name: 16, dtype: int64
17 user_id     4
book_id    21
rating      5
Name: 17, dtype: int64
18 user_id    4
book_id    2
rating     5
Name: 18, dtype: int64
19 user_id     4
book_id    23
rating      5
Name: 19, dtype: int64
20 user_id     4
book_id    24
rating      5
Name: 20, dtype: int64
21 user_id      4
book_id    964
rating       4
Name: 21, dtype: int64
22 user_id      4
book_id    103
rating       5
Name: 22, dtype: int64
23 user_id      4
book_id    255
rating       2
Name: 23, dtype: int64
24 user_id     4
book_id    35
rating      5
Name: 24, dtype: int64
25 user_id      4
book_id    287
rating       3
Name: 25, dtype: int64
26 user_id      4
book_id    337
rating       4
Name: 26, dtype: int64
27 user_id     4
book_id    26
rating      3
Name: 27, dtype: int64
28 user_id     4
book_id    84
rating      4
Name: 28, dtype: int64
29 user_id     4
book_id    58
rating      4
Name: 29, dtype: int64
30 user_id       4
book_id    1117
rating        3
Name: 30, dtype: int64
31 user_id      4
book_id    660
rating       3
Name: 31, dtype: int64
32 user_id      4
book_id    111
rating       2
Name: 32, dtype: int64
33 user_id    4
book_id    5
rating     4
Name: 33, dtype: int64
34 user_id      4
book_id    413
rating       4
Name: 34, dtype: int64
35 user_id    4
book_id    8
rating     4
Name: 35, dtype: int64
36 user_id       4
book_id    2172
rating        4
Name: 36, dtype: int64
37 user_id     4
book_id    65
rating      4
Name: 37, dtype: int64
38 user_id      4
book_id    297
rating       4
Name: 38, dtype: int64
39 user_id     4
book_id    45
rating      4
Name: 39, dtype: int64
40 user_id      4
book_id    113
rating       4
Name: 40, dtype: int64
41 user_id      4
book_id    325
rating       5
Name: 41, dtype: int64
42 user_id      4
book_id    476
rating       3
Name: 42, dtype: int64
43 user_id       6
book_id    6351
rating        4
Name: 43, dtype: int64
44 user_id       8
book_id    2732
rating        5
Name: 44, dtype: int64
45 user_id       8
book_id    1432
rating        3
Name: 45, dtype: int64
46 user_id      8
book_id    479
rating       4
Name: 46, dtype: int64
47 user_id       8
book_id    3020
rating        5
Name: 47, dtype: int64
48 user_id       8
book_id    6195
rating        4
Name: 48, dtype: int64
49 user_id      8
book_id    614
rating       4
Name: 49, dtype: int64
50 user_id       8
book_id    4622
rating        5
Name: 50, dtype: int64
51 user_id       8
book_id    9114
rating        5
Name: 51, dtype: int64
52 user_id      8
book_id    194
rating       4
Name: 52, dtype: int64
53 user_id     8
book_id    14
rating      5
Name: 53, dtype: int64
54 user_id       8
book_id    2584
rating        5
Name: 54, dtype: int64
55 user_id     8
book_id    55
rating      5
Name: 55, dtype: int64
56 user_id      8
book_id    772
rating       4
Name: 56, dtype: int64
57 user_id      8
book_id    778
rating       5
Name: 57, dtype: int64
58 user_id       8
book_id    1937
rating        3
Name: 58, dtype: int64
59 user_id      8
book_id    493
rating       5
Name: 59, dtype: int64
60 user_id      8
book_id    362
rating       5
Name: 60, dtype: int64
61 user_id       8
book_id    1967
rating        3
Name: 61, dtype: int64
62 user_id      8
book_id    529
rating       5
Name: 62, dtype: int64
63 user_id       8
book_id    5425
rating        5
Name: 63, dtype: int64
64 user_id       4
book_id    1237
rating        5
Name: 64, dtype: int64
65 user_id      4
book_id    145
rating       2
Name: 65, dtype: int64
66 user_id     4
book_id    36
rating      5
Name: 66, dtype: int64
67 user_id      4
book_id    102
rating       5
Name: 67, dtype: int64
68 user_id      4
book_id    222
rating       4
Name: 68, dtype: int64
69 user_id      4
book_id    200
rating       4
Name: 69, dtype: int64
70 user_id     4
book_id    13
rating      4
Name: 70, dtype: int64
71 user_id      4
book_id    640
rating       3
Name: 71, dtype: int64
72 user_id      4
book_id    693
rating       5
Name: 72, dtype: int64
73 user_id      4
book_id    575
rating       3
Name: 73, dtype: int64
74 user_id     4
book_id    55
rating      4
Name: 74, dtype: int64
75 user_id      1
book_id    268
rating       3
Name: 75, dtype: int64
76 user_id       1
book_id    5556
rating        3
Name: 76, dtype: int64
77 user_id       1
book_id    3638
rating        3
Name: 77, dtype: int64
78 user_id       1
book_id    1796
rating        5
Name: 78, dtype: int64
79 user_id      1
book_id    867
rating       3
Name: 79, dtype: int64
80 user_id     1
book_id    47
rating      3
Name: 80, dtype: int64
81 user_id       1
book_id    2738
rating        3
Name: 81, dtype: int64
82 user_id       4
book_id    1296
rating        3
Name: 82, dtype: int64
83 user_id     4
book_id    50
rating      4
Name: 83, dtype: int64
84 user_id     4
book_id    87
rating      5
Name: 84, dtype: int64
85 user_id     4
book_id    86
rating      4
Name: 85, dtype: int64
86 user_id      4
book_id    123
rating       4
Name: 86, dtype: int64
87 user_id     4
book_id    32
rating      4
Name: 87, dtype: int64
88 user_id     4
book_id    28
rating      3
Name: 88, dtype: int64
89 user_id     4
book_id    33
rating      3
Name: 89, dtype: int64
90 user_id     4
book_id    42
rating      5
Name: 90, dtype: int64
91 user_id      4
book_id    249
rating       4
Name: 91, dtype: int64
92 user_id      4
book_id    158
rating       4
Name: 92, dtype: int64
93 user_id      4
book_id    373
rating       4
Name: 93, dtype: int64
94 user_id      4
book_id    184
rating       4
Name: 94, dtype: int64
95 user_id      4
book_id    495
rating       4
Name: 95, dtype: int64
96 user_id      4
book_id    350
rating       3
Name: 96, dtype: int64
97 user_id      4
book_id    492
rating       4
Name: 97, dtype: int64
98 user_id      4
book_id    219
rating       4
Name: 98, dtype: int64

In [64]:
for index, row in goodbooks.iterrows():
  row['average_rating'] = (row['ratings_1']+row['ratings_2']*2+row['ratings_3']*3+row['ratings_4']*4+row['ratings_5']*5)/row['work_ratings_count']

### 4. Merge together all rows sharing the same book title, author and publisher. We will call the resulting datset `merged books`. The books that have not been merged together will not appear in `merged books`.
* OK

In [ ]:
merged_books = books.loc[books.duplicated(subset=['Book-Title', 'Book-Author', 'Publisher'], keep=False), ['Book-Title', 'Book-Author', 'Publisher']]

In [ ]:
merged_books.drop_duplicates(subset=['Book-Title', 'Book-Author', 'Publisher'], keep='last', inplace=True)

In [ ]:
merged_books

                                               Book-Title  ...                Publisher
749                                            The Rescue  ...             Warner Books
886                                  The Door to December  ...              Signet Book
1451                                   Skipping Christmas  ...                Doubleday
1565                   Le Divorce (William Abrahams Book)  ...              Plume Books
1827    The Alchemist: A Fable About Following Your Dream  ...       HarperSanFrancisco
...                                                   ...  ...                      ...
271142                             Old Patagonian Express  ...  Washington Square Press
271168     The Two Towers (The Lord of the Rings, Part 2)  ...         Houghton Mifflin
271171                                    R Is for Rocket  ...    Bantam Doubleday Dell
271222  Thirteen Days: A Memoir of the Cuban Missile C...  ...              Signet Book
271245  For Cause and Comrades: Why Men Fought in the ...  ...  Oxford University Press

[4725 rows x 3 columns]

### 5. For each book in `merged books` compute its average rating.
* OK

The average is computed considering all books in `books` that have been merged.

In [ ]:
books_w_ratings.head(1)

         ISBN  ... Book-Rating
0  0195153448  ...         0.0

[1 rows x 9 columns]

In [ ]:
booksrattemp=books_w_ratings[['ISBN','Book-Title','Book-Author','Publisher','Book-Rating']]

In [ ]:
booksrattemp

              ISBN  ... Book-Rating
0       0195153448  ...    0.000000
1       0002005018  ...    4.928571
2       0060973129  ...    5.000000
3       0374157065  ...    4.272727
4       0393045218  ...    0.000000
...            ...  ...         ...
271355  0525447644  ...    4.000000
271356  006008667X  ...    0.000000
271357  0192126040  ...    0.000000
271358  0767409752  ...    0.000000
271359              ...         NaN

[271360 rows x 5 columns]

In [ ]:
ratings = booksrattemp.groupby(['Book-Title','Book-Author','Publisher'], as_index=False)['Book-Rating'].agg('mean')

In [ ]:
ratings

                                               Book-Title  ... Book-Rating
0        A Light in the Storm: The Civil War Diary of ...  ...    2.250000
1                                   Always Have Popsicles  ...    0.000000
2                    Apple Magic (The Collector's series)  ...    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...  ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...  ...    0.000000
...                                                   ...  ...         ...
266122                                    ÃƒÂƒ?ÃƒÂ‚?lpiraten.  ...    0.000000
266123                   ÃƒÂƒ?ÃƒÂ‚?rger mit Produkt X. Roman.  ...    5.250000
266124                              ÃƒÂƒ?ÃƒÂ‚?sterlich leben.  ...    7.000000
266125                            ÃƒÂƒ?ÃƒÂ‚?stlich der Berge.  ...    2.666667
266126                                ÃƒÂƒ?ÃƒÂ‚?thique en toc  ...    4.000000

[266127 rows x 4 columns]

In [ ]:
merged_books_w_ratings = pd.merge(merged_books,ratings,on=['Book-Title','Book-Author','Publisher'], how='left')

In [ ]:
merged_books_w_ratings.head()

                                          Book-Title  ... Book-Rating
0                                         The Rescue  ...    3.235165
1                               The Door to December  ...    2.650565
2                                 Skipping Christmas  ...    3.863814
3                 Le Divorce (William Abrahams Book)  ...    2.663490
4  The Alchemist: A Fable About Following Your Dream  ...    4.267544

[5 rows x 4 columns]

### 6. For each book in `merged books` compute the minimum and maximum of the average ratings over all corresponding books in the `books` dataset.

Hence for each book in `merged books` we will have exactly two values (a minimum and a maximum)

* OK

In [ ]:
merged_books.head(1)

     Book-Title      Book-Author     Publisher
749  The Rescue  Nicholas Sparks  Warner Books

In [ ]:
books_w_ratings.head(1)

         ISBN  ... Book-Rating
0  0195153448  ...         0.0

[1 rows x 9 columns]

In [ ]:
merged_books["min_avg_rating"] = ""
merged_books["max_avg_rating"] = ""

In [ ]:
for index, row in merged_books.iterrows():
  row['min_avg_rating'] = books_w_ratings[(books_w_ratings['Book-Title']==row['Book-Title']) & (books_w_ratings['Book-Author']==row['Book-Author']) & (books_w_ratings['Publisher']==row['Publisher'])]['Book-Rating'].min()
  row['max_avg_rating'] = books_w_ratings[(books_w_ratings['Book-Title']==row['Book-Title']) & (books_w_ratings['Book-Author']==row['Book-Author']) & (books_w_ratings['Publisher']==row['Publisher'])]['Book-Rating'].max()

In [ ]:
merged_books

                                               Book-Title  ... max_avg_rating
749                                            The Rescue  ...        3.38462
886                                  The Door to December  ...        2.81651
1451                                   Skipping Christmas  ...        4.25238
1565                   Le Divorce (William Abrahams Book)  ...        2.68182
1827    The Alchemist: A Fable About Following Your Dream  ...        4.81579
...                                                   ...  ...            ...
271142                             Old Patagonian Express  ...              8
271168     The Two Towers (The Lord of the Rings, Part 2)  ...             10
271171                                    R Is for Rocket  ...              0
271222  Thirteen Days: A Memoir of the Cuban Missile C...  ...              0
271245  For Cause and Comrades: Why Men Fought in the ...  ...              0

[4725 rows x 5 columns]

### 7. For each book in `goodbooks`, compute the list of its authors. Assuming that the number of reviews with a text (column `work_text_reviews_count`) is split equally among all authors, find for each authors the total number of reviews with a text. We will call this quantity the *shared number of reviews with a text*.

* OK

In [ ]:
list_auth=[]
for index, row in goodbooks.iterrows():
  splitted_auth = row['authors'].split(',')
  for auth in splitted_auth:
    if auth not in list_auth:
      list_auth.append(auth)
print(list_auth)

['Suzanne Collins', 'J.K. Rowling', ' Mary GrandPrÃƒÂ©', 'Stephenie Meyer', 'Harper Lee', 'F. Scott Fitzgerald', 'John Green', 'J.R.R. Tolkien', 'J.D. Salinger', 'Dan Brown', 'Jane Austen', 'Khaled Hosseini', 'Veronica Roth', 'George Orwell', ' Erich Fromm', ' CelÃƒÂ¢l Ãƒ\x9cster', 'Anne Frank', ' Eleanor Roosevelt', ' B.M. Mooyaart-Doubleday', 'Stieg Larsson', ' Reg Keeland', ' Rufus Beck', 'Alice Sebold', 'William Golding', 'William Shakespeare', ' Robert           Jackson', 'Gillian Flynn', 'Kathryn Stockett', 'John Steinbeck', 'Arthur Golden', 'E.L. James', 'Paulo Coelho', ' Alan R. Clarke', 'Lois Lowry', 'C.S. Lewis', 'Audrey Niffenegger', 'George R.R. Martin', 'Elizabeth Gilbert', 'Rick Riordan', 'Louisa May Alcott', 'Charlotte BrontÃƒÂ«', ' Michael Mason', 'Nicholas Sparks', 'Yann Martel', 'Sara Gruen', 'Markus Zusak', 'Ray Bradbury', 'Shel Silverstein', 'Cassandra Clare', 'Christopher Paolini', 'Douglas Adams', 'Aldous Huxley', 'Sue Monk Kidd', 'Mark Twain', ' John Seelye', ' Guy Cardwell', 'E.B. White', ' Garth Williams', ' Rosemary Wells', 'Mark Haddon', 'Paula Hawkins', 'Philip Pullman', 'Emily BrontÃƒÂ«', ' Richard J. Dunn', 'Jodi Picoult', 'Kurt Vonnegut Jr.', 'Margaret Mitchell', 'Stephen Chbosky', 'Orson Scott Card', 'Mary Wollstonecraft Shelley', ' Percy Bysshe Shelley', ' Maurice Hindle', 'Stephen King', 'Helen Fielding', ' Tony Tanner', ' Ros Ballaster', 'Louis Sachar', ' Louis Sachar', 'Lauren Weisberger', 'Homer', ' Robert Fagles', ' E.V. Rieu', ' FrÃƒÂ©dÃƒÂ©ric Mugler', ' Bernard Knox', 'Antoine de Saint-ExupÃƒÂ©ry', ' Richard Howard', ' Dom Marcos Barbosa', ' Melina Karakosta', 'Jeannette Walls', 'Jon Krakauer', 'Charles Dickens', ' Richard Maxwell', ' Hablot Knight Browne', 'Michael Crichton', 'John Grisham', 'Elie Wiesel', ' Marion Wiesel', 'William Goldman', 'S.E. Hinton', 'James Dashner', 'Steven D. Levitt', ' Stephen J. Dubner', 'Frances Hodgson Burnett', 'Gabriel GarcÃƒ\xada MÃƒÂ¡rquez', ' Gregory Rabassa', 'Oscar Wilde', ' Jeffrey Eugenides', 'Bram Stoker', ' Nina Auerbach', ' David J. Skal']

In [ ]:
df_authors = pd.DataFrame()
df_authors['author']=list_auth
df_authors['work_text_reviews_count']=0.0

In [ ]:
for index1, row1 in df_authors.iterrows():    
  for index, row in goodbooks.iterrows():
    if row1['author'] in row['authors']:
      num_authors=len(row['authors'].split(','))
      df_authors.loc[index1, 'work_text_reviews_count']+=(row['work_text_reviews_count']/num_authors)

In [ ]:
df_authors

                 author  work_text_reviews_count
0       Suzanne Collins            340066.000000
1          J.K. Rowling            136668.000000
2        Mary GrandPrÃƒÂ©            136668.000000
3       Stephenie Meyer            258573.000000
4            Harper Lee             72586.000000
..                  ...                      ...
105         Oscar Wilde              9823.500000
106   Jeffrey Eugenides              9823.500000
107         Bram Stoker              5754.333333
108       Nina Auerbach              5754.333333
109       David J. Skal              5754.333333

[110 rows x 2 columns]

### 8. For each year of publication, determine the author that has the largest value of the shared number of reviews with a text.
* OK

In [ ]:
for year in goodbooks['original_publication_year'].unique():
  list_auth=[]
  for index, row in goodbooks[goodbooks['original_publication_year']==year].iterrows():
    splitted_auth = row['authors'].split(',')
    for auth in splitted_auth:
      if auth not in list_auth:
        list_auth.append(auth)
  df_authors_year = pd.DataFrame()
  df_authors_year['author']=list_auth
  df_authors_year['work_text_reviews_sum']=0.0
  for index1, row1 in df_authors_year.iterrows():    
    for index, row in goodbooks[goodbooks['original_publication_year']==year].iterrows():
      if row1['author'] in row['authors']:
        num_authors=len(row['authors'].split(','))
        df_authors_year.loc[index1, 'work_text_reviews_sum']+=(row['work_text_reviews_count']/num_authors)
  print('For year '+str(year)+' most reviewed author is ')
  print(df_authors_year[df_authors_year['work_text_reviews_sum'] == df_authors_year['work_text_reviews_sum'].max()])
  del df_authors_year, splitted_auth, list_auth, num_authors

For year 2008.0 most reviewed author is
            author  work_text_reviews_sum
0  Suzanne Collins               155254.0
For year 1997.0 most reviewed author is
            author  work_text_reviews_sum
0     J.K. Rowling                37933.5
1   Mary GrandPrÃƒÂ©                37933.5
For year 2005.0 most reviewed author is
            author  work_text_reviews_sum
0  Stephenie Meyer                95009.0
For year 1960.0 most reviewed author is
       author  work_text_reviews_sum
0  Harper Lee                72586.0
For year 1925.0 most reviewed author is
                author  work_text_reviews_sum
0  F. Scott Fitzgerald                51992.0
For year 2012.0 most reviewed author is
       author  work_text_reviews_sum
0  John Green               140739.0
For year 1937.0 most reviewed author is
           author  work_text_reviews_sum
0  J.R.R. Tolkien                37653.0
For year 1951.0 most reviewed author is
          author  work_text_reviews_sum
0  J.D. Salinger                44920.0
For year 2000.0 most reviewed author is
      author  work_text_reviews_sum
0  Dan Brown                25112.0
For year 1813.0 most reviewed author is
        author  work_text_reviews_sum
0  Jane Austen                49152.0
For year 2003.0 most reviewed author is
            author  work_text_reviews_sum
0  Khaled Hosseini                59730.0
For year 2011.0 most reviewed author is
       author  work_text_reviews_sum
1  E.L. James               103489.0
For year 1949.0 most reviewed author is
           author  work_text_reviews_sum
0   George Orwell           15172.666667
1     Erich Fromm           15172.666667
2   CelÃƒÂ¢l ÃƒÂœster           15172.666667
For year 1945.0 most reviewed author is
          author  work_text_reviews_sum
0  George Orwell                35472.0
For year 1947.0 most reviewed author is
                     author  work_text_reviews_sum
0                Anne Frank            6941.666667
1         Eleanor Roosevelt            6941.666667
2   B.M. Mooyaart-Doubleday            6941.666667
For year 2009.0 most reviewed author is
            author  work_text_reviews_sum
0  Suzanne Collins                88538.0
For year 1999.0 most reviewed author is
            author  work_text_reviews_sum
3  Stephen Chbosky                47116.0
For year 1954.0 most reviewed author is
            author  work_text_reviews_sum
1  William Golding                26886.0
For year 2010.0 most reviewed author is
            author  work_text_reviews_sum
0  Suzanne Collins                96274.0
For year 2002.0 most reviewed author is
         author  work_text_reviews_sum
0  Alice Sebold                36642.0
For year 1998.0 most reviewed author is
            author  work_text_reviews_sum
0     J.K. Rowling                17086.0
1   Mary GrandPrÃƒÂ©                17086.0
For year 2007.0 most reviewed author is
            author  work_text_reviews_sum
2  Cassandra Clare                51589.0
For year 1595.0 most reviewed author is
                      author  work_text_reviews_sum
0        William Shakespeare                 7389.0
1   Robert           Jackson                 7389.0
For year 1988.0 most reviewed author is
            author  work_text_reviews_sum
0     Paulo Coelho                27890.5
1   Alan R. Clarke                27890.5
For year 1993.0 most reviewed author is
       author  work_text_reviews_sum
0  Lois Lowry                54084.0
For year 1950.0 most reviewed author is
       author  work_text_reviews_sum
0  C.S. Lewis                15186.0
For year 1996.0 most reviewed author is
               author  work_text_reviews_sum
0  George R.R. Martin                46205.0
For year 2006.0 most reviewed author is
       author  work_text_reviews_sum
1  Sara Gruen                55732.0
For year 1868.0 most reviewed author is
              author  work_text_reviews_sum
0  Louisa May Alcott                17090.0
For year 1847.0 most reviewed author is
              author  work_text_reviews_sum
0  Charlotte BrontÃƒÂ«                15606.0
1      Michael Mason                15606.0
For year 2001.0 most reviewed author is
        author  work_text_reviews_sum
0  Yann Martel                42962.0
For year 1953.0 most reviewed author is
         author  work_text_reviews_sum
0  Ray Bradbury                30694.0
For year 1974.0 most reviewed author is
             author  work_text_reviews_sum
0  Shel Silverstein                 9234.0
For year 1979.0 most reviewed author is
          author  work_text_reviews_sum
0  Douglas Adams                20345.0
For year 1932.0 most reviewed author is
          author  work_text_reviews_sum
0  Aldous Huxley                20095.0
For year 1884.0 most reviewed author is
          author  work_text_reviews_sum
0     Mark Twain            4149.333333
1    John Seelye            4149.333333
2   Guy Cardwell            4149.333333
For year 1952.0 most reviewed author is
            author  work_text_reviews_sum
0       E.B. White                 4348.0
1   Garth Williams                 4348.0
2   Rosemary Wells                 4348.0
For year 2015.0 most reviewed author is
          author  work_text_reviews_sum
0  Paula Hawkins                93600.0
For year 1995.0 most reviewed author is
           author  work_text_reviews_sum
0  Philip Pullman                14915.0
For year 2004.0 most reviewed author is
         author  work_text_reviews_sum
0  Jodi Picoult                30719.0
For year 1969.0 most reviewed author is
              author  work_text_reviews_sum
0  Kurt Vonnegut Jr.                19646.0
For year 1936.0 most reviewed author is
              author  work_text_reviews_sum
0  Margaret Mitchell                16050.0
For year 1985.0 most reviewed author is
             author  work_text_reviews_sum
0  Orson Scott Card                38054.0
For year 1818.0 most reviewed author is
                        author  work_text_reviews_sum
0  Mary Wollstonecraft Shelley            6664.333333
1         Percy Bysshe Shelley            6664.333333
2               Maurice Hindle            6664.333333
For year 1977.0 most reviewed author is
         author  work_text_reviews_sum
0  Stephen King                14936.0
For year 1811.0 most reviewed author is
           author  work_text_reviews_sum
0     Jane Austen                 3842.0
1     Tony Tanner                 3842.0
2   Ros Ballaster                 3842.0
For year -720.0 most reviewed author is
               author  work_text_reviews_sum
0               Homer                 1620.2
1       Robert Fagles                 1620.2
2           E.V. Rieu                 1620.2
3   FrÃƒÂ©dÃƒÂ©ric Mugler                 1620.2
4        Bernard Knox                 1620.2
For year 1946.0 most reviewed author is
                      author  work_text_reviews_sum
0  Antoine de Saint-ExupÃƒÂ©ry                6134.25
1             Richard Howard                6134.25
2         Dom Marcos Barbosa                6134.25
3           Melina Karakosta                6134.25
For year 1859.0 most reviewed author is
                  author  work_text_reviews_sum
0        Charles Dickens            4364.333333
1        Richard Maxwell            4364.333333
2   Hablot Knight Browne            4364.333333
For year 1990.0 most reviewed author is
             author  work_text_reviews_sum
0  Michael Crichton                 8143.0
For year 1964.0 most reviewed author is
             author  work_text_reviews_sum
0  Shel Silverstein                14368.0
For year 1989.0 most reviewed author is
         author  work_text_reviews_sum
0  John Grisham                 4239.0
For year 1958.0 most reviewed author is
           author  work_text_reviews_sum
0     Elie Wiesel                11000.5
1   Marion Wiesel                11000.5
For year 1973.0 most reviewed author is
            author  work_text_reviews_sum
0  William Goldman                15630.0
For year 1967.0 most reviewed author is
        author  work_text_reviews_sum
0  S.E. Hinton                22662.0
For year 1911.0 most reviewed author is
                    author  work_text_reviews_sum
0  Frances Hodgson Burnett                13054.0
For year 1891.0 most reviewed author is
               author  work_text_reviews_sum
0         Oscar Wilde                 9823.5
1   Jeffrey Eugenides                 9823.5
For year 1897.0 most reviewed author is
           author  work_text_reviews_sum
0     Bram Stoker            5754.333333
1   Nina Auerbach            5754.333333
2   David J. Skal            5754.333333

### 9. Assuming that there are no errors in the ISBN fields, find the books in both datasets, and compute the difference of average rating according to the ratings and the goodratings datasets
* OK

In [ ]:
common_books = pd.merge(books_w_ratings,goodbooks,left_on='ISBN', right_on='isbn', how='inner')

In [ ]:
common_books

         ISBN  ...                                    small_image_url
0  1400032717  ...  https://images.gr-assets.com/books/1479863624s...
1  014028009X  ...  https://images.gr-assets.com/books/1292060045s...
2  014038572X  ...  https://images.gr-assets.com/books/1442129426s...
3  1594480001  ...  https://images.gr-assets.com/books/1484565687s...
4  043965548X  ...  https://images.gr-assets.com/books/1499277281s...

[5 rows x 32 columns]

In [ ]:
common_books['avg_rat_difference']=abs(common_books['average_rating']-common_books['Book-Rating'])

In [ ]:
common_books['avg_rat_difference']

0    0.963187
1    0.001852
2    0.400674
3    1.860000
4    0.996667
Name: avg_rat_difference, dtype: float64

### 10. Split the users dataset according to the age. One dataset contains the users with unknown age, one with age 0-14, one with age 15-24, one with age 25-34, and so on.
* OK

In [40]:
users["Age-group"] = pd.cut(x=users['Age'], bins=[0,14,24,34,44,54,64,74,84,94,104,np.inf], labels=['0-14','15-24','25-34','35-44','45-54','55-64','65-74','75-84','85-94','95-104','105+'])

In [36]:
users

       User-ID                            Location  ...          Country Age-group
0            1                  nyc, new york, usa  ...              usa       NaN
1            2           stockton, california, usa  ...              usa     15-24
2            3     moscow, yukon territory, russia  ...           russia       NaN
3            4           porto, v.n.gaia, portugal  ...         portugal     15-24
4            5  farnborough, hants, united kingdom  ...   united kingdom       NaN
...        ...                                 ...  ...              ...       ...
278854  278855  tacoma, washington, united kingdom  ...   united kingdom     45-54
278855  278856           brampton, ontario, canada  ...           canada       NaN
278856  278857           knoxville, tennessee, usa  ...              usa       NaN
278857  278858                dublin, n/a, ireland  ...          ireland       NaN
278858                                         NaN  ...              NaN       NaN

[278859 rows x 7 columns]

In [44]:
users_0_14=users[users['Age-group']=='0-14']
users_15_24=users[users['Age-group']=='15-24']
users_25_34=users[users['Age-group']=='25-34']
users_35_44=users[users['Age-group']=='35-44']
users_45_54=users[users['Age-group']=='45-54']
users_55_64=users[users['Age-group']=='55-64']
users_65_74=users[users['Age-group']=='65-74']
users_75_84=users[users['Age-group']=='75-84']
users_85_94=users[users['Age-group']=='85-94']
users_95_104=users[users['Age-group']=='95-104']
users_over105=users[users['Age-group']=='105+']
users_na=users[users['Age-group'].isna()]

In [47]:
len(users)==len(users_na)+len(users_0_14)+len(users_15_24)+len(users_25_34)+len(users_35_44)+len(users_45_54)+len(users_55_64)+len(users_65_74)+len(users_75_84)+len(users_85_94)+len(users_95_104)+len(users_over105)

True

### 11. Find the books that appear only in the goodbooks datasets.
* OK

In [69]:
goodbooksonly = goodbooks[~(goodbooks['isbn'].isin(books['ISBN'])) & goodbooks['original_title'].isin(books['Book-Title'])].reset_index(drop=True)

### 12. Assuming that each pair (author, title) identifies a book, for each book find the number of times it appears in the books dataset. Which books appear the most times?
* OK

In [74]:
most_authortitle= pd.DataFrame(books.groupby(['Book-Author', 'Book-Title']).size(), columns=['count']).reset_index()

In [ ]:
most_authortitle=most_authortitle.iloc[most_authortitle['count'].idxmax()]

In [83]:
most_authortitle

Book-Author    Louisa May Alcott
Book-Title          Little Women
count                         21
Name: 150649, dtype: object

### 13. Find the author with the highest average rating according to the goodbooks datasets.
* OK

In [88]:
list_auth=[]
for index, row in goodbooks.iterrows():
  splitted_auth = row['authors'].split(',')
  for auth in splitted_auth:
    if auth not in list_auth:
      list_auth.append(auth)
df_authors = pd.DataFrame()
df_authors['author']=list_auth
df_authors['average_rating']=0.0
df_authors['ratings_count']=0
for index1, row1 in df_authors.iterrows():    
  for index, row in goodbooks.iterrows():
    if row1['author'] in row['authors']:
      df_authors.loc[index1, 'ratings_count']+=1
      df_authors.loc[index1, 'average_rating']+=row['average_rating']
df_authors['average_rating']=df_authors['average_rating']/df_authors['ratings_count']
print('The author with the highest avg rating is: ')
print(df_authors[df_authors['average_rating'] == df_authors['average_rating'].max()])

The author with the highest avg rating is:
         author  average_rating  ratings_count
21   Rufus Beck            4.53              1